Q1. Create one variable containing following type of data:
(i)	string
(ii)	list
(iii)	float
(iv)	tuple

In [16]:
a = 'Ajeet'
type(a)

str

In [18]:
a = [1,22.3, 'a']
type(a)

list

In [19]:
a = 22.4
type(a)

float

In [20]:
a = (1,2,22.5,'ajeet')
type(a)

tuple

Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)	var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)	var4 = 1.

What will be the data type of the above given variable

In [21]:
var1 = ''
type(var1)

str

In [23]:
var2 = '[DS , ML , Python]'
type(var2)

str

In [25]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [26]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i)	/
(ii)	% 
(iii)	//
(iv)	**

In [32]:
a = 16
b = 8

In [33]:
a/b

2.0

In [34]:
a%b

0

In [35]:
a//b

2

In [36]:
a**b

4294967296

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [38]:
a = [1,88,55,'ajeet',22.5,True,False,0.0,22,'aj']
for i in a:
    print(i, type(i))

1 <class 'int'>
88 <class 'int'>
55 <class 'int'>
ajeet <class 'str'>
22.5 <class 'float'>
True <class 'bool'>
False <class 'bool'>
0.0 <class 'float'>
22 <class 'int'>
aj <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [34]:
A=1028
B=2
count=0
while A%B==0:
    A=A/B
    count+=1
    
print('total how many times 1028 divisible by 2:', count)

total how many times 1028 divisible by 2: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [1]:
range(25)

range(0, 25)

In [28]:
for i in range(25):
    if i%3==0:
        print(i, 'number is divisible')
    else:
        print(i, 'number is not divisible')

0 number is divisible
1 number is not divisible
2 number is not divisible
3 number is divisible
4 number is not divisible
5 number is not divisible
6 number is divisible
7 number is not divisible
8 number is not divisible
9 number is divisible
10 number is not divisible
11 number is not divisible
12 number is divisible
13 number is not divisible
14 number is not divisible
15 number is divisible
16 number is not divisible
17 number is not divisible
18 number is divisible
19 number is not divisible
20 number is not divisible
21 number is divisible
22 number is not divisible
23 number is not divisible
24 number is divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

Strings are immutable and list are mutable that means we can replace the variale from list but we can not replace the string.

example: first example is list and the second is st

In [35]:
a=[1,2,3,4,'v','abc','z']

In [36]:
a[5]

'abc'

In [37]:
a[5]=9

In [38]:
a

[1, 2, 3, 4, 'v', 9, 'z']

In [39]:
b='Ajeet'

In [40]:
b[3]

'e'

In [41]:
b[3]='i'

TypeError: 'str' object does not support item assignment