Q1. How do you comment code in Python? What are the different types of comments?

Multiline Comment

In [7]:
'''
a=20
b=30
d=a+b
'''
c=20

In [8]:
d

NameError: name 'd' is not defined

In [9]:
# Single line comment
a=20
b=30
d=a+b

In [10]:
d

50

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store and manipulate data. They act as placeholders that can hold different types of values, such as numbers, strings, or objects. Variables allow you to assign names to values, making it easier to reference and work with data in your code.

In [11]:
x=25 # This is integer
y="Hellow" #This is string

Q3. How do you convert one data type to another in Python?

In [12]:
x = 10

In [13]:
type(x)

int

In [14]:
y = str(x)

In [16]:
type(y)

str

Q4. How do you write and execute a Python script from the command line?

1.Open a text editor and create a new file. 
2.Write your Python code in the text file.
3.Save the file with a .py extension.
4.Open the command line or terminal on your operating system.
4.Navigate to the directory where you saved your Python script using the cd command.
5.Once you are in the correct directory, you can execute the Python script by typing=> pyhton filename

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [17]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number of the form a + bi, where a and b are real numbers, and i is the imaginary unit

In [ ]:
#Represented as
x = a+bj

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
age = 25

In [20]:
type(age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [21]:
price = 9.99

In [22]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [23]:
name = "Ajeet Kumar"

In [24]:
print(name)

Ajeet Kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
x = "Hello, World!"

In [28]:
y = x[7:12]

In [29]:
y

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [30]:
is_student = True